body{
    min-width: 1024px;
    max-width: none;
}

.section2__cards-container{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    width: 90%;
    margin: 0 auto;
    gap: 1.6rem;
    margin: 0 auto;
    justify-items: center;
}

.section2__cards--card4{
    margin-bottom: 42px;
}

.section4__paymentPlan-container{
    max-width: 950px;
    margin: 0 auto;
}   