:root{
    --bitcoinOrange:#f7931a;
    --softOrange:#ffe9d4;
    --secondaryBlue:#1a9af7;
    --softBlue:#e7f5ff;
    --warmBlack:#201e1c;
    --warmBlackPlus1:#282623;
    --grey:#808080;
    --offWhite:#faf8f7;
    --white:#ffffff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    min-width: 320px;
    max-width: 765px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.header-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-items: center;
    place-content: center;
    height: 33.4rem;
    background: linear-gradient(207.8deg, var(--warmBlack) 16.69%, var(--bitcoinOrange) 100%);

}

.header-container__item{
    margin: 1.2rem;
}
.header-container__message--title{
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.6rem;
}
.header-container__message--subtitle{
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.header-container__message{
    text-align: center;
    color: var(--white);
    padding: 0 1rem;
    width: 28.8rem;
    
}



.header-container__buttom{
    align-self: self-end;
    margin:0 auto;
    width:22.9rem;
    height: 4.8rem;
    border-radius: .4rem;
    background-color: var(--offWhite);
    position: absolute;
    top: 31rem;
    left: calc(50% - 11rem);
    margin: 0 auto;
    text-align: center;
    line-height: 4.6rem;
    text-decoration: none;
    color: var(--warmBlack);
    font-weight: 700;
    font-size: 1.4rem;
    box-shadow: .4rem .4rem 2rem var(--grey);
}
.header-container__buttom span {
    margin-left: 1rem;
}
.main-container__section--section1{
    background-color: var(--offWhite);
    display: grid;
    grid-template-rows: auto auto 1fr ;
    place-items: center;
    place-content: center;
    
}

.main-container__bitcoinImage{
    margin: 10rem auto 4rem auto;
}

.main-container__message{
    text-align: center;
    color: var(--warmBlack);
    padding: 0 1rem;
    width: 28.8rem; 
    margin-top: 4rem; 
}
.main-container__message h1 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    
}
.main-container__message h2 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 2rem;
   
} 

.main-container__dataContainer{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
}
.main-container__dataContainer .main-container__item--title{
    margin-top: 4rem;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--bitcoinOrange);
    
}
.main-container__dataContainer table{
    background-color: var(--white);
    width: 100%;
    height: 15.9rem;
    margin: 2rem 0;
    border-radius: 1rem;
    border-collapse: collapse;
}

.main-container__dataContainer  td {
    padding: 1.5rem;
    border-width: thin;
    border-spacing: 0px;
    border-style: solid;
    border-color: var(--offWhite);
}
.main-container__dataContainer  span{
    margin-left: 4px;
   
}
.main-container__dataContainer .main-container__item--rightArrow{
    position: absolute;
    width: 24px;
    height: 24px;
    left: calc(100% + 12px);
    top: 41%;
    
}
.main-container__dataContainer .main-container__textContainer{
    width: auto;
    height: 3.1rem;
    padding:.8rem;
    border-radius: .8rem;
    background-color: var(--softOrange);
    margin-bottom: 8rem;
  


}
.main-container__dataContainer .main-container__item--bottomtext1{
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;

}
.main-container__dataContainer .main-container__item--bottomtext2{
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    
}
.main-container__dataContainer .main-container__item--bottomtext3{
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;

}


/* section2 of the proyect, benefits */
.main-container__section--section2{
    background-color: var(--warmBlack);
    display: grid;
    grid-template-rows: auto auto ;
    place-items: center;
    height: auto;
    
}
.section2__text-container{
    width: 90%;
    margin: 8rem auto 4rem auto;
    height: 9.4rem;
}

.section2__title{
    font-family: DM Sans;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 3.2rem;
    color: var(--white);
    width: 100%;
}
.section2__subtitle{  
    font-family: DM Sans;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    letter-spacing: 0em;
    text-align: center;
    color: var(--grey);

}

.section2__cards-container{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 1.6rem;
    

}

.section2__cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 160px;
    max-width: 450px;
    padding: 2.6rem;
    gap: 1.2rem;
    background-color: var(--warmBlackPlus1);
    box-shadow: 0px 4px 8px 0px #00000029;
    border-radius: 1rem;

}
.section2__images{
    width: 2.4rem;
    height: 2.4rem;
}
.section2__cards-titles{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--white);

}
.section2__cards-text{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--grey);
    width: 87.5%;

}
.section2__cards--card4{
    margin-bottom: 2.4rem;
}

/* section3 of the proyect, image */

.section3__backgroud-container{
    width: 100%;
    min-width: 320px;
    background-image: url(../assets/img/bitcoinbaby2x.jpg);
    height: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section3__title-container{
    display: flex;
    justify-content: center;
    min-width: 288px;
    
}

.section3__title{ 
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--white);
    margin-top: 2rem;
}

/* section4 syles */

.main-container__section--section4{
    height: 600px;
    background-color:var(--offWhite);
    
  
}


.section4__title{
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 64px 64px 0 64px;

}
.section4__subtitle{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    

    padding: 32px 64px 64px 64px;
}

.section4__paymentPlan-container{
    display: grid;
    align-content: center;
    grid-template-columns: auto auto auto;
    width: 100%;
    height: 263px;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 12px;
    justify-items: center;
    
    
}
.section4__paymentPlan{
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 12px;
    justify-items: center;
    width: 70%;
    min-width: 280px;
    max-width: 300px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--white);
    box-shadow: 0px 4px 8px 0px #59491E29;
}
.section4__paymentPlan--yearly{
    position: relative;
}
.paymentPlan__recomendation {
    position: absolute;
    width: 50%;
    height: 24px;
    top: 1px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bitcoinOrange);
    color: var(--white);
    text-align: center;
    padding: 8px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 8px;
    border-radius: 8px;
}


.paymentPlan__title{
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}
.paymentPlan__price span{
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    vertical-align: top;
}
.paymentPlan__price{
    font-family: Inter;
    font-size: 52px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: -0.08em;
    
   

}
.paymentPlan__note{
    width: 158px;
    height: 30px;
    text-align: center;
    padding: 4px;
    
 

}
.paymentPlan__buttom{
    width: 160px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 4px;
    border: 2px solid var(--bitcoinOrange);
    gap: 8px;
    background-color: var(--offWhite);
    color: var(--warmBlack);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding:12px 12px 12px 12px;
    

}
.paymentPlan__buttom span{
    width: 24px;
    height: 24px;
    display:inline-block;
    background-image: url(/assets/icons/orange-right-arrow.svg);
    vertical-align:text-top;
  
}
.footer__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    height: 150px;
    background-color: var(--bitcoinOrange);
    color: var(--white);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    

}
.footer__list{
    list-style-type: none;
}
.footer__list li:not(:last-child){
    margin-top: 6px;
}
.footer__list a{
    text-decoration: none;
}